.form-container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

@media (min-width: 600px) {
    .form-container {
        grid-template-columns: 1fr 1fr;
    }
}
  
  