
.task-list-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-list-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 0.5rem;
    padding: 0;
}

.task-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 200px;
    padding: 1rem;
    border:  1px solid #ccc;
    border-radius: 0.25rem;
}


.action-buttons {
    display: flex;
    gap: 0.5rem;
}