<div class="task-list-header">
  <h2>Lista de Tareas</h2>
  <p>Total de tareas: {{ tasks.length }}</p>
</div>
<div class="task-list-content">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Tareas con prioridad alta </mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="task-list-items">
        <li *ngFor="let task of highPriorityTasks" class="task-item">
          <strong
            [style.textDecoration]="task.completed ? 'line-through' : 'none'"
          >
            {{ task.title }}
          </strong>

          
          <ng-container *ngIf="task.dueDate; else noDue">
            <small> Fecha límite: {{ task.dueDate | date : "shortDate" }} </small>
          </ng-container>
          <ng-template #noDue>
            <small> Sin fecha límite </small>
          </ng-template>
          <small>Creada: {{ task.createdAt | date : "short" }}</small>

          <div class="action-buttons">
            <button
              mat-icon-button
              color="primary"
              (click)="toggle.emit(task.id)"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete.emit(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- medium priority tasks -->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Tareas con prioridad media </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="task-list-items">
        <li *ngFor="let task of mediumPriorityTasks" class="task-item">
          <strong
            [style.textDecoration]="task.completed ? 'line-through' : 'none'"
          >
            {{ task.title }}
          </strong>

          <ng-container *ngIf="task.dueDate; else noDueMedium">
            <small> Fecha límite: {{ task.dueDate | date : "shortDate" }} </small>
          </ng-container>
          <ng-template #noDueMedium>
            <small> Sin fecha límite </small>
          </ng-template>
          <small>Creada: {{ task.createdAt | date : "short" }}</small>

          <div class="action-buttons">
            <button
              mat-icon-button
              color="primary"
              (click)="toggle.emit(task.id)"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete.emit(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- low priority tasks -->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Tareas con prioridad baja </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="task-list-items">
        <li *ngFor="let task of lowPriorityTasks" class="task-item">
          <strong
            [style.textDecoration]="task.completed ? 'line-through' : 'none'"
          >
            {{ task.title }}
          </strong>

          <ng-container *ngIf="task.dueDate; else noDueLow">
            <small> Fecha límite: {{ task.dueDate | date : "shortDate" }} </small>
          </ng-container>
          <ng-template #noDueLow>
            <small> Sin fecha límite </small>
          </ng-template>
          <small>Creada: {{ task.createdAt | date : "short" }}</small>

          <div class="action-buttons">
            <button
              mat-icon-button
              color="primary"
              (click)="toggle.emit(task.id)"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete.emit(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
